/pretrain/dataset/test/(/*.png
/pretrain/dataset/test/)/*.png
/pretrain/dataset/test/0/*.png
/pretrain/dataset/test/1/*.png
/pretrain/dataset/test/2/*.png
/pretrain/dataset/test/3/*.png
/pretrain/dataset/test/4/*.png
/pretrain/dataset/test/5/*.png
/pretrain/dataset/test/6/*.png
/pretrain/dataset/test/7/*.png
/pretrain/dataset/test/8/*.png
/pretrain/dataset/test/9/*.png
/pretrain/dataset/test/=/*.png
/pretrain/dataset/test/_Delta/*.png
/pretrain/dataset/test/_Omega/*.png
/pretrain/dataset/test/_Phi/*.png
/pretrain/dataset/test/_Pi/*.png
/pretrain/dataset/test/_Sigma/*.png
/pretrain/dataset/test/a/*.png
/pretrain/dataset/test/add/*.png
/pretrain/dataset/test/alpha/*.png
/pretrain/dataset/test/b/*.png
/pretrain/dataset/test/beta/*.png
/pretrain/dataset/test/c/*.png
/pretrain/dataset/test/d/*.png
/pretrain/dataset/test/delta/*.png
/pretrain/dataset/test/div/*.png
/pretrain/dataset/test/e/*.png
/pretrain/dataset/test/epsilon/*.png
/pretrain/dataset/test/f/*.png
/pretrain/dataset/test/g/*.png
/pretrain/dataset/test/gamma/*.png
/pretrain/dataset/test/h/*.png
/pretrain/dataset/test/i/*.png
/pretrain/dataset/test/integral/*.png
/pretrain/dataset/test/j/*.png
/pretrain/dataset/test/k/*.png
/pretrain/dataset/test/l/*.png
/pretrain/dataset/test/lamda/*.png
/pretrain/dataset/test/m/*.png
/pretrain/dataset/test/muy/*.png
/pretrain/dataset/test/n/*.png
/pretrain/dataset/test/o/*.png
/pretrain/dataset/test/omega/*.png
/pretrain/dataset/test/p/*.png
/pretrain/dataset/test/phi/*.png
/pretrain/dataset/test/pi/*.png
/pretrain/dataset/test/q/*.png
/pretrain/dataset/test/r/*.png
/pretrain/dataset/test/rho/*.png
/pretrain/dataset/test/s/*.png
/pretrain/dataset/test/sigma/*.png
/pretrain/dataset/test/sub/*.png
/pretrain/dataset/test/t/*.png
/pretrain/dataset/test/theta/*.png
/pretrain/dataset/test/time/*.png
/pretrain/dataset/test/u/*.png
/pretrain/dataset/test/v/*.png
/pretrain/dataset/test/w/*.png
/pretrain/dataset/test/x/*.png
/pretrain/dataset/test/y/*.png
/pretrain/dataset/test/z/*.png
/pretrain/dataset/test/zA/*.png
/pretrain/dataset/test/zB/*.png
/pretrain/dataset/test/zC/*.png
/pretrain/dataset/test/zD/*.png
/pretrain/dataset/test/zE/*.png
/pretrain/dataset/test/zF/*.png
/pretrain/dataset/test/zG/*.png
/pretrain/dataset/test/zH/*.png
/pretrain/dataset/test/zI/*.png
/pretrain/dataset/test/zJ/*.png
/pretrain/dataset/test/zK/*.png
/pretrain/dataset/test/zL/*.png
/pretrain/dataset/test/zM/*.png
/pretrain/dataset/test/zN/*.png
/pretrain/dataset/test/zO/*.png
/pretrain/dataset/test/zP/*.png
/pretrain/dataset/test/zQ/*.png
/pretrain/dataset/test/zR/*.png
/pretrain/dataset/test/zS/*.png
/pretrain/dataset/test/zT/*.png
/pretrain/dataset/test/zU/*.png
/pretrain/dataset/test/zV/*.png
/pretrain/dataset/test/zW/*.png
/pretrain/dataset/test/zX/*.png
/pretrain/dataset/test/zY/*.png
/pretrain/dataset/test/zZ/*.png
/pretrain/dataset/train/(/*.png
/pretrain/dataset/train/)/*.png
/pretrain/dataset/train/0/*.png
/pretrain/dataset/train/1/*.png
/pretrain/dataset/train/2/*.png
/pretrain/dataset/train/3/*.png
/pretrain/dataset/train/4/*.png
/pretrain/dataset/train/5/*.png
/pretrain/dataset/train/6/*.png
/pretrain/dataset/train/7/*.png
/pretrain/dataset/train/8/*.png
/pretrain/dataset/train/9/*.png
/pretrain/dataset/train/=/*.png
/pretrain/dataset/train/_Delta/*.png
/pretrain/dataset/train/_Omega/*.png
/pretrain/dataset/train/_Phi/*.png
/pretrain/dataset/train/_Pi/*.png
/pretrain/dataset/train/_Sigma/*.png
/pretrain/dataset/train/a/*.png
/pretrain/dataset/train/add/*.png
/pretrain/dataset/train/alpha/*.png
/pretrain/dataset/train/b/*.png
/pretrain/dataset/train/beta/*.png
/pretrain/dataset/train/c/*.png
/pretrain/dataset/train/d/*.png
/pretrain/dataset/train/delta/*.png
/pretrain/dataset/train/div/*.png
/pretrain/dataset/train/e/*.png
/pretrain/dataset/train/epsilon/*.png
/pretrain/dataset/train/f/*.png
/pretrain/dataset/train/g/*.png
/pretrain/dataset/train/gamma/*.png
/pretrain/dataset/train/h/*.png
/pretrain/dataset/train/i/*.png
/pretrain/dataset/train/integral/*.png
/pretrain/dataset/train/j/*.png
/pretrain/dataset/train/k/*.png
/pretrain/dataset/train/l/*.png
/pretrain/dataset/train/lamda/*.png
/pretrain/dataset/train/m/*.png
/pretrain/dataset/train/muy/*.png
/pretrain/dataset/train/n/*.png
/pretrain/dataset/train/o/*.png
/pretrain/dataset/train/omega/*.png
/pretrain/dataset/train/p/*.png
/pretrain/dataset/train/phi/*.png
/pretrain/dataset/train/pi/*.png
/pretrain/dataset/train/q/*.png
/pretrain/dataset/train/r/*.png
/pretrain/dataset/train/rho/*.png
/pretrain/dataset/train/s/*.png
/pretrain/dataset/train/sigma/*.png
/pretrain/dataset/train/sub/*.png
/pretrain/dataset/train/t/*.png
/pretrain/dataset/train/theta/*.png
/pretrain/dataset/train/time/*.png
/pretrain/dataset/train/u/*.png
/pretrain/dataset/train/v/*.png
/pretrain/dataset/train/w/*.png
/pretrain/dataset/train/x/*.png
/pretrain/dataset/train/y/*.png
/pretrain/dataset/train/z/*.png
/pretrain/dataset/train/zA/*.png
/pretrain/dataset/train/zB/*.png
/pretrain/dataset/train/zC/*.png
/pretrain/dataset/train/zD/*.png
/pretrain/dataset/train/zE/*.png
/pretrain/dataset/train/zF/*.png
/pretrain/dataset/train/zG/*.png
/pretrain/dataset/train/zH/*.png
/pretrain/dataset/train/zI/*.png
/pretrain/dataset/train/zJ/*.png
/pretrain/dataset/train/zK/*.png
/pretrain/dataset/train/zL/*.png
/pretrain/dataset/train/zM/*.png
/pretrain/dataset/train/zN/*.png
/pretrain/dataset/train/zO/*.png
/pretrain/dataset/train/zP/*.png
/pretrain/dataset/train/zQ/*.png
/pretrain/dataset/train/zR/*.png
/pretrain/dataset/train/zS/*.png
/pretrain/dataset/train/zT/*.png
/pretrain/dataset/train/zU/*.png
/pretrain/dataset/train/zV/*.png
/pretrain/dataset/train/zW/*.png
/pretrain/dataset/train/zX/*.png
/pretrain/dataset/train/zY/*.png
/pretrain/dataset/train/zZ/*.png
/pretrain/__pycache__/*.pyc
/pretrain/checkpoint/pretrain2.pth
/pretrain/checkpoint/pretrain0.pth
/pretrain/checkpoint/pretrain1.pth
